In [1]:
#載入pandas模組 
import pandas as pd
#篩選練習一Series 
data=pd.Series([30, 15, 20])
print ("原始Series:",data,sep="\n")
print ("===============")
condition=[True, False, True]
filteredData=data [condition]
print ("篩選結果:",filteredData,sep="\n")

原始Series:
0    30
1    15
2    20
dtype: int64
===============
篩選結果:
0    30
2    20
dtype: int64

In [2]:
print ("原始Series:",data,sep="\n")
print ("===============")
condition=data>18
print ("篩選條件:",condition,sep="\n")
print ("===============")
filteredData=data [condition]
print ("篩選結果:",filteredData,sep="\n")

原始Series:
0    30
1    15
2    20
dtype: int64
===============
篩選條件:
0     True
1    False
2     True
dtype: bool
===============
篩選結果:
0    30
2    20
dtype: int64

In [3]:
data=pd.Series(["您好", "Python", "Pandas"]) 
print ("原始Series:",data,sep="\n")
print ("===============")
condition=[False, True, True]
filteredData=data [condition]
print ("篩選結果:",filteredData,sep="\n")

原始Series:
0        您好
1    Python
2    Pandas
dtype: object
===============
篩選結果:
1    Python
2    Pandas
dtype: object

In [4]:
print ("原始Series:",data,sep="\n")
print ("===============")
condition=data.str.contains("P")
print ("篩選條件:",condition,sep="\n")
print ("===============")
filteredData=data [condition]
print ("篩選結果:",filteredData,sep="\n")

原始Series:
0        您好
1    Python
2    Pandas
dtype: object
===============
篩選條件:
0    False
1     True
2     True
dtype: bool
===============
篩選結果:
1    Python
2    Pandas
dtype: object

In [5]:
#篩選練習一DataFrame 
data=pd.DataFrame({
    "name":["May", "Lin", "Bob"],
    "salary":[30000, 60000, 50000] 
})
print ("原始DataFrame:",data,sep="\n")
print ("===============")
condition=[False, True, True]
filteredData=data [condition]
print ("篩選結果:",filteredData,sep="\n")

原始DataFrame:
  name  salary
0  May   30000
1  Lin   60000
2  Bob   50000
===============
篩選結果:
  name  salary
1  Lin   60000
2  Bob   50000

In [6]:
print ("原始DataFrame:",data,sep="\n")
print ("===============")
condition=data["salary"]>=40000
print ("篩選條件:",condition,sep="\n")
print ("===============")
filteredData=data [condition]
print ("篩選結果:",filteredData,sep="\n")

原始DataFrame:
  name  salary
0  May   30000
1  Lin   60000
2  Bob   50000
===============
篩選條件:
0    False
1     True
2     True
Name: salary, dtype: bool
===============
篩選結果:
  name  salary
1  Lin   60000
2  Bob   50000

In [7]:
print (data)
print ("===============")
condition=data["name"]=="Lin"
print ("篩選條件:",condition,sep="\n")
print ("===============")
filteredData=data [condition]
print ("篩選結果:",filteredData,sep="\n")

  name  salary
0  May   30000
1  Lin   60000
2  Bob   50000
===============
篩選條件:
0    False
1     True
2    False
Name: name, dtype: bool
===============
篩選結果:
  name  salary
1  Lin   60000

In [9]:
#載入CSV資料
df = pd.read_csv("products.csv", encoding="utf8")
print(df)

   分類      價格   商店
0  居家   11.42  家樂福
1  居家   23.50  大潤發
2  娛樂   19.99  家樂福
3  娛樂   15.95  全聯超
4  科技   55.75  大潤發
5  科技  111.55  家樂福

In [10]:
#重設標題與index
df.columns = ["type", "price", "name"]
ordinals = ["A", "B", "C", "D", "E", "F"]
df.index = ordinals
print(df)

  type   price name
A   居家   11.42  家樂福
B   居家   23.50  大潤發
C   娛樂   19.99  家樂福
D   娛樂   15.95  全聯超
E   科技   55.75  大潤發
F   科技  111.55  家樂福

In [11]:
#選取單一欄位
print(df["price"].head(3))#選取"price"欄位並顯示前3筆
print(df.price.head(3))#選取"price"欄位並顯示前3筆

A    11.42
B    23.50
C    19.99
Name: price, dtype: float64
A    11.42
B    23.50
C    19.99
Name: price, dtype: float64

In [12]:
#選取多個欄位
print(df[["type","name"]].head(3))#選取"price"與"name"欄位並顯示前3筆

  type name
A   居家  家樂福
B   居家  大潤發
C   娛樂  家樂福

In [13]:
#選取特定範圍的多筆記錄
print(df[0:3])     #不含3
print(df["C":"E"]) # 含"E"

  type  price name
A   居家  11.42  家樂福
B   居家  23.50  大潤發
C   娛樂  19.99  家樂福
  type  price name
C   娛樂  19.99  家樂福
D   娛樂  15.95  全聯超
E   科技  55.75  大潤發

In [14]:
#使用標籤選取資料
print(df)
print ("===============")
print('df.loc["B"]:',df.loc["B"],sep="\n")
print ("===============")
print('type(df.loc["B"]):',type(df.loc["B"]))

  type   price name
A   居家   11.42  家樂福
B   居家   23.50  大潤發
C   娛樂   19.99  家樂福
D   娛樂   15.95  全聯超
E   科技   55.75  大潤發
F   科技  111.55  家樂福
===============
df.loc["B"]:
type       居家
price    23.5
name      大潤發
Name: B, dtype: object
===============
type(df.loc["B"]): <class 'pandas.core.series.Series'>

In [15]:
#使用位置選取資料
print(df)
print ("===============")
print("df.iloc[3]:",df.iloc[3],sep="\n")# 第 4 筆
print ("===============")
print("df.iloc[3:5, 1:3]:", df.iloc[3:5, 1:3],sep="\n")   # 切割

  type   price name
A   居家   11.42  家樂福
B   居家   23.50  大潤發
C   娛樂   19.99  家樂福
D   娛樂   15.95  全聯超
E   科技   55.75  大潤發
F   科技  111.55  家樂福
===============
df.iloc[3]:
type        娛樂
price    15.95
name       全聯超
Name: D, dtype: object
===============
df.iloc[3:5, 1:3]:
   price name
D  15.95  全聯超
E  55.75  大潤發

In [16]:
#過濾資料 – 使用布林索引
print(df)
print ("===============")
print(df[df.price > 20])

  type   price name
A   居家   11.42  家樂福
B   居家   23.50  大潤發
C   娛樂   19.99  家樂福
D   娛樂   15.95  全聯超
E   科技   55.75  大潤發
F   科技  111.55  家樂福
===============
  type   price name
B   居家   23.50  大潤發
E   科技   55.75  大潤發
F   科技  111.55  家樂福

In [17]:
#過濾資料 – 使用isin()函數
print(df)
print ("===============")
print(df[df["type"].isin(["科技","居家"])])

  type   price name
A   居家   11.42  家樂福
B   居家   23.50  大潤發
C   娛樂   19.99  家樂福
D   娛樂   15.95  全聯超
E   科技   55.75  大潤發
F   科技  111.55  家樂福
===============
  type   price name
A   居家   11.42  家樂福
B   居家   23.50  大潤發
E   科技   55.75  大潤發
F   科技  111.55  家樂福

In [18]:
#使用多個條件和字串函數過濾資料
print(df)
print ("===============")
print(df[(df.price > 15) & (df.price < 25)])

  type   price name
A   居家   11.42  家樂福
B   居家   23.50  大潤發
C   娛樂   19.99  家樂福
D   娛樂   15.95  全聯超
E   科技   55.75  大潤發
F   科技  111.55  家樂福
===============
  type  price name
B   居家  23.50  大潤發
C   娛樂  19.99  家樂福
D   娛樂  15.95  全聯超

In [19]:
df.loc["G"] = ["科學", 28.5, "全聯超"]
print(df)
print ("===============")
print(df[df["type"].str.startswith("科")])

  type   price name
A   居家   11.42  家樂福
B   居家   23.50  大潤發
C   娛樂   19.99  家樂福
D   娛樂   15.95  全聯超
E   科技   55.75  大潤發
F   科技  111.55  家樂福
G   科學   28.50  全聯超
===============
  type   price name
E   科技   55.75  大潤發
F   科技  111.55  家樂福
G   科學   28.50  全聯超

In [20]:
#排序資料 - 指定索引欄位排序
df2 = df.set_index("price")
print(df2,"\n===============")
df2.sort_index(ascending=False, inplace=True)
print("price由大到小:",df2,sep="\n")
print ("===============")
df2.sort_index(inplace=True)
print("price由小到大:",df2,sep="\n")

       type name
price
11.42    居家  家樂福
23.50    居家  大潤發
19.99    娛樂  家樂福
15.95    娛樂  全聯超
55.75    科技  大潤發
111.55   科技  家樂福
28.50    科學  全聯超
===============
price由大到小:
       type name
price
111.55   科技  家樂福
55.75    科技  大潤發
28.50    科學  全聯超
23.50    居家  大潤發
19.99    娛樂  家樂福
15.95    娛樂  全聯超
11.42    居家  家樂福
===============
price由小到大:
       type name
price
11.42    居家  家樂福
15.95    娛樂  全聯超
19.99    娛樂  家樂福
23.50    居家  大潤發
28.50    科學  全聯超
55.75    科技  大潤發
111.55   科技  家樂福

In [21]:
#排序資料 – 指定欄位值排序
df2 = df.sort_values("price", ascending=False)
print(df2)
print(df.sort_values(["type","price"], inplace=False))
print(df)

  type   price name
F   科技  111.55  家樂福
E   科技   55.75  大潤發
G   科學   28.50  全聯超
B   居家   23.50  大潤發
C   娛樂   19.99  家樂福
D   娛樂   15.95  全聯超
A   居家   11.42  家樂福
  type   price name
D   娛樂   15.95  全聯超
C   娛樂   19.99  家樂福
A   居家   11.42  家樂福
B   居家   23.50  大潤發
G   科學   28.50  全聯超
E   科技   55.75  大潤發
F   科技  111.55  家樂福
  type   price name
A   居家   11.42  家樂福
B   居家   23.50  大潤發
C   娛樂   19.99  家樂福
D   娛樂   15.95  全聯超
E   科技   55.75  大潤發
F   科技  111.55  家樂福
G   科學   28.50  全聯超